.description {
  margin-top: 2rem;
  margin-bottom: 1.8rem;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  padding: 1.8rem;
  text-align: center;
}

.description-wrapper {
  margin: 0 auto;
}

@media only screen and (max-width: 576px) {
  .description-wrapper {
      width: 19rem;
  }
  .description {
      padding: .8rem;
  }
}
