.header-block {
  height: 6rem;
  text-align: center;
  color: white;
  background: #343a40;
  margin-bottom: 1.8rem;
  position: relative;
}

.header-title {
  line-height: 6rem;
}

.website-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #0062cc;
}

.website-link:hover {
  color: #0062cc;
  text-decoration: none;
}

.header-description {
  margin-top: 1.5rem;
}

.header-icon {
  margin-left: .4rem;
  display: inline-block;
  float: right;
  color: white;
}

.header-icon:hover {
  cursor: pointer;
  color: #0062cc;
}

.contacts-wrapper {
 position: absolute;
 top: 15px;
 right: 15px;
}

@media only screen and (max-width: 576px) {
  .header-icon {
    margin: .1rem;
  }

  .header-title {
    line-height: 6rem;
  }

  .contacts-wrapper {
   position: absolute;
   top: 5px;
   right: 5px;
  }
}
