/* Header for results */
.results-list {
  margin-bottom: 1rem;
}

.ResultsHeader, .open-issues {
  display: inline-block;
}

.ResultsHeader {
  width: 100%;
  margin-top:.5rem;
  padding: .5rem;
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 3px 3px 0 0;
}

.open-issues {
  margin: 6px;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 16px;
}
