.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #444d56;
  background-color: #d7dadd;
  background-image: none;
  border-color: #babbbd; /*set the color you want here*/
}

.btn-primary {
  border-radius: 1px solid rgba(27,31,35,.2);
}

.btn {
    transition: color .10s ease-in-out,
    background-color .10s ease-in-out,
    border-color .10s ease-in-out,
    box-shadow .10s ease-in-out;
}

/* override default dropdown CSS */
.DropdownButton {
  float: right;
  margin-left: .3rem;
  margin-right: .3rem;
  color: #586069;
}

.dropdown-toggle {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
}

.primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.dropdown-menu {
  min-width: 8rem;
}

.dropdown-item {
  padding: .25rem .5rem;
  font-size: 14px;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #0062cc;
}

.dropdown-text-wrapper {
  margin-left: .2rem;
}

.icon-box {
  width: 14px;
  height: 14px;
}

.DropdownButton  {
  display: inline-block;
}

.checkmark-list-wrapper, .checkmark-wrapper, .dropdown-text-wrapper {
  display: inline-block;
}

.header-block {
  height: 6rem;
  text-align: center;
  color: white;
  background: #343a40;
  margin-bottom: 1.8rem;
  position: relative;
}

.header-title {
  line-height: 6rem;
}

.website-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #0062cc;
}

.website-link:hover {
  color: #0062cc;
  text-decoration: none;
}

.header-description {
  margin-top: 1.5rem;
}

.header-icon {
  margin-left: .4rem;
  display: inline-block;
  float: right;
  color: white;
}

.header-icon:hover {
  cursor: pointer;
  color: #0062cc;
}

.contacts-wrapper {
 position: absolute;
 top: 15px;
 right: 15px;
}
